# Deletes in Apache Iceberg

In [1]:
from pyspark.sql import SparkSession
import os

In [2]:
spark = (
    SparkSession.builder
    .appName("Deletes in Iceberg")
    .master("spark://spark:7077") 
    .getOrCreate()
)

In [3]:
spark.sql("""DELETE FROM ice.demo.customers WHERE name like '%ak%'""")

DataFrame[]

Next let's show the results

In [4]:
spark.sql("""SELECT *
FROM ice.demo.customers;""").show(truncate=False)

+---+--------------+--------------------------+-------+
|id |name          |email                     |country|
+---+--------------+--------------------------+-------+
|22 |Zoe King      |zoe.king@example.com      |US     |
|21 |Jack Wilson   |jack.wilson@example.com   |US     |
|15 |Isabella Rossi|isabella.rossi@example.com|US     |
|1  |Alice Smith   |alice@example.com         |US     |
|2  |Bob Johnson   |bob@example.com           |US     |
|12 |Lucas Martin  |lucas.martin@example.com  |US     |
|18 |Henry Scott   |henry.scott@example.com   |US     |
|16 |James Nguyen  |james.nguyen@example.com  |US     |
|5  |Maya Patel    |maya.patel@example.com    |US     |
|7  |Sofia Almeida |sofia.almeida@example.com |US     |
|19 |Aria Johnson  |aria.johnson@example.com  |US     |
|3  |Carol Adams   |carol@example.com         |US     |
|20 |Daniela Costa |daniela.costa@example.com |US     |
|4  |Diego Ramirez |diego.ramirez@example.com |US     |
|8  |Noah Williams |noah.williams@example.com |US     |
|9  |Ava Thompson  |ava.thompson@example.com  |US     |
|11 |Olivia Garcia |olivia.garcia@example.com |US     |
|13 |Emma Robinson |emma.robinson@example.com |US     |
|10 |Ethan Chen    |ethan.chen@example.com    |US     |
|6  |Liam Oâ€™Connor |liam.oconnor@example.com  |US     |
+---+--------------+--------------------------+-------+
only showing top 20 rows

Let's view the snapshots that have been committed up to this point and we will notice a `delete` operation as part of the snapshot history

In [5]:
spark.sql("""SELECT snapshot_id, committed_at, operation
FROM ice.demo.customers.snapshots
ORDER BY committed_at DESC
LIMIT 5;""").show(truncate=False)

+-------------------+-----------------------+---------+
|snapshot_id        |committed_at           |operation|
+-------------------+-----------------------+---------+
|3524031251713818479|2025-10-27 16:49:02.473|delete   |
|6069821547749819533|2025-10-27 16:47:48.751|overwrite|
|6233251210790417521|2025-10-27 16:46:37.232|append   |
|5355358217514325757|2025-10-27 16:46:30.234|append   |
+-------------------+-----------------------+---------+

Again, let's go back in time, and see if we can see Mila

In [7]:
spark.sql("""SELECT *
FROM ice.demo.customers
VERSION AS OF '6069821547749819533';""").show(truncate=False)

+---+--------------+--------------------------+-------+
|id |name          |email                     |country|
+---+--------------+--------------------------+-------+
|22 |Zoe King      |zoe.king@example.com      |US     |
|21 |Jack Wilson   |jack.wilson@example.com   |US     |
|15 |Isabella Rossi|isabella.rossi@example.com|US     |
|1  |Alice Smith   |alice@example.com         |US     |
|2  |Bob Johnson   |bob@example.com           |US     |
|12 |Lucas Martin  |lucas.martin@example.com  |US     |
|18 |Henry Scott   |henry.scott@example.com   |US     |
|16 |James Nguyen  |james.nguyen@example.com  |US     |
|5  |Maya Patel    |maya.patel@example.com    |US     |
|7  |Sofia Almeida |sofia.almeida@example.com |US     |
|19 |Aria Johnson  |aria.johnson@example.com  |US     |
|3  |Carol Adams   |carol@example.com         |US     |
|20 |Daniela Costa |daniela.costa@example.com |US     |
|4  |Diego Ramirez |diego.ramirez@example.com |US     |
|17 |Mila Novak    |mila.novak@example.com    |US     |
|8  |Noah Williams |noah.williams@example.com |US     |
|9  |Ava Thompson  |ava.thompson@example.com  |US     |
|11 |Olivia Garcia |olivia.garcia@example.com |US     |
|13 |Emma Robinson |emma.robinson@example.com |US     |
|10 |Ethan Chen    |ethan.chen@example.com    |US     |
+---+--------------+--------------------------+-------+
only showing top 20 rows

In [8]:
spark.stop()